/yarn.lock
.idea
/yarn-error.log
/tron/
##
# Git ignore file.
#
# Git is aware of this config file's location.
#
# The generated portion of this file can be updated using:
#
#     $ madrun update gitignore
#     or: $ madrun update dotfiles
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

##
# Generated data.
# <generated:start>

# Last generated Fri, Sep 29, 2023, 6:57:52 PM EDT.

# Locals

._*
.~*
.#*

# Envs

.envs
*.env
.env*
.flaskenv*
!.env.project
!.env.vault

# Logs

*.log
*.logs

# Backups

*~
*.bak

# Patches

*.rej
*.orig
*.patch
*.diff

# Editors

# » VS Code

*.code-*

# » IntelliJ

.idea

# » Vim

.*.swp

# » CTAGs

*.ctags

# Tooling

# » Dotenv

.env.me

# » TypeScript

.tscache
*.tsbuildinfo

# » Vite

.vite
.vitest

# » Wrangler

.wrangler
.dev.vars
.dev.vars.*

# » Rollup

.rollup

# » Webpack

.webpack

# » Linaria

.linaria-cache

# » SASS

.sass-cache

# » Docker

.docker

# » Vagrant

.vagrant

# » Elastic Beanstalk

.elasticbeanstalk

# Packages

# » Yarn

.yarn

# » Vendor

vendor

# » NodeJS

node_modules

# » JSPM

jspm_packages

# » Bower

bower_components
# » Git

.git

# » Subversion

.svn
_svn
.svnignore

# » Bazaar

.bzr
.bzrignore

# » Mercurial

.hg
.hgignore

# Operating Systems

# » Windows Files

Thumbs.db
ehthumbs.db
Desktop.ini

# » Windows Dirs

$RECYCLE.BIN

# » MacOS Files

Icon
*.icloud
.DS_Store
.disk_label
.LSOverride
.VolumeIcon.icns
.com.apple.timemachine.*

# » MacOS Dirs

.apdisk
*.icloud
.fseventsd
.AppleDB
.AppleDesktop
.AppleDouble
.Trashes
.TemporaryItems
.Spotlight-V100
.DocumentRevisions-V100
Network Trash Folder
Temporary Items

# Dist

dist
